body {
  background: #DAE6E6
}
.App {
  width: 100%;
  margin: 2%
}
a {
  text-decoration: none;
  color: azure
}
P {
  color: azure
}
/*Display*/
.Notes {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  background: #00ACB4;
  padding: 1%;
  width: 40%;
  height: 10%;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 25px;
  margin-bottom: 5%
}
/*CreateNote*/

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: left;
  float: left;
  padding-left: 2%;
}

#save, #cancel {
  width: 40%;
  margin: 10px;
  background: #00ACB4;
  color: white;
  font-size: x-large;
  margin-bottom: 6%;
  padding: 2%;
  border: 1px solid gray;
  border-radius: 25px
}
#save:hover, #cancel:hover {
  background: rgb(6, 54, 40);
  cursor: pointer;
}

.form-control,
.form-control1 {
  margin-bottom: 3%;
  padding: 3%;
  border-radius: 6px;
}

.form-control {
  width: 65%;
}

.form-control1 {
  height: 60vh;
  width: 90%;
}
/*List*/
.note-title {
  margin-left: 5%
}
/* Create New Note  */
.new-note {
  display: flex
}
.note-container-list {
  display: inline;
  background: white;
  margin: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  border: solid black 1px;
}
.note-container-list:hover {
  background: gray;
}
/* View Note */
.view-note, .note-container {
  display: flex;
  flex-direction: column;
  margin: 2%
}
/* Notes */
.NotesPage {
  display: flex;
  flex-direction: column

}
.notewrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}